/**
  additional.css is either for to override css definition in lap_and_up.min.css or palm.min.css, or new css instead of modify lap_and_up.min.css or palm.min.css

/**
 * purpose: Sproutforms modal, to display "message submitted" in contact form

   Date: 2016-12-08;
   note: new css;
 */
.modal-sproutform {
    display: none;
    position: relative;
    z-index: 1;
}

.modal-sp-content {
    background-color: $light;
    margin: auto;
    width: 100%;
}

.modal-sp-content p {
  color: #009f98;         /* LightSeaGreen */
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
} 



/**
 * purpose: set an empty invisible field in contact form 

   Date: 
   note: ;
  */
#promoDiv  { position: absolute; left: -1000px; top: -1000px; }




/**
 * purpose: to take out static header

   Date: ;
   note: originally defined in lap_and_up.min.css;
 */
.site__header{z-index: 0}

.site__footer{border-top:0;position:relative}
