
.icon__cancel {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M31%203.7L28.3%201%2016%2013.3%203.7%201%201%203.7%2013.3%2016%201%2028.3%203.7%2031%2016%2018.7%2028.3%2031l2.7-2.7L18.7%2016z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-down {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M28.3%207.1L16%2019.4%203.7%207.1%201%209.9l15%2015%2015-15z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-left {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M24.9%203.7L22.1%201l-15%2015%2015%2015%202.8-2.7L12.6%2016z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-right {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M9.9%201L7.1%203.7%2019.4%2016%207.1%2028.3%209.9%2031l15-15z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__chevron-up {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M16%207.1l-15%2015%202.7%202.8L16%2012.6l12.3%2012.3%202.7-2.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__search {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M26%2022.2c1.5-2.2%202.3-4.8%202.3-7.6%200-3.7-1.4-7.1-4-9.7-2.6-2.6-6-4-9.7-4s-7.1%201.4-9.7%204c-2.6%202.6-4%206-4%209.7%200%203.7%201.4%207.1%204%209.7%202.6%202.6%206%204%209.7%204%202.7%200%205.4-.8%207.6-2.3l5%205.1%203.8-3.8-5-5.1zm-5.5-1.7c-1.6%201.6-3.7%202.4-5.9%202.4s-4.3-.9-5.9-2.4c-1.6-1.6-2.4-3.7-2.4-5.9s.9-4.3%202.4-5.9c1.6-1.6%203.7-2.4%205.9-2.4s4.3.9%205.9%202.4c1.6%201.6%202.4%203.7%202.4%205.9s-.8%204.3-2.4%205.9z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20fill%3D%22%23009FE3%22%20d%3D%22M0%200h40v40H0z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M34.48%2011.817c-1.07-1.068-2.934-.953-4.144.257L20%2022.41%209.666%2012.073c-1.21-1.21-3.075-1.325-4.144-.257-1.07%201.068-.952%202.932.258%204.143l11.968%2011.968c.23.23.482.42.75.57.44.288.962.425%201.5.415.54.01%201.063-.126%201.507-.416.267-.15.52-.34.748-.57L34.22%2015.96c1.212-1.21%201.327-3.075.26-4.143z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__soup-logo {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22227%22%20height%3D%2270%22%20viewBox%3D%220%200%20227%2070%22%3E%3Cg%20fill%3D%22%232BA6CB%22%3E%3Cpath%20d%3D%22M44.432%2013.316l-6.108%205.828c-2.9-4.258-6.228-6.387-9.98-6.387-2.714%200-4.964.8-6.747%202.396-1.783%201.597-2.675%203.6-2.675%206.008%200%201.928.612%203.588%201.836%204.982.612.66%201.51%201.407%202.695%202.244%201.184.837%202.668%201.762%204.45%202.775%205.297%202.942%208.837%205.605%2010.62%207.987%201.81%202.408%202.714%205.564%202.714%209.468%200%205.07-1.695%209.177-5.086%2012.32-3.37%203.145-7.887%204.716-13.556%204.716-4.578%200-8.45-1.007-11.617-3.022-1.597-1.008-3.088-2.32-4.47-3.935-1.385-1.616-2.716-3.554-3.993-5.817l6.946-4.71c1.89%203.327%203.74%205.616%205.55%206.866%201.81%201.25%204.164%201.876%207.065%201.876%203.22%200%205.742-.81%207.565-2.432%201.822-1.62%202.734-3.927%202.734-6.916%200-2.052-.666-3.788-1.996-5.206-.666-.735-1.657-1.558-2.974-2.47s-2.988-1.938-5.01-3.078c-4.63-2.61-7.864-5.092-9.7-7.448-1.757-2.355-2.636-5.307-2.636-8.854%200-4.737%201.67-8.664%205.01-11.78%203.367-3.14%207.685-4.712%2012.955-4.712%203.434%200%206.36.705%208.783%202.115%202.476%201.412%205.018%203.808%207.626%207.19zM115.092%2033.7c0%206.76-1.854%2012.892-5.56%2018.397-2.94%204.327-6.78%207.668-11.52%2010.023-4.742%202.355-9.985%203.533-15.73%203.533-9.19%200-16.685-2.83-22.485-8.487-5.8-5.684-8.7-13.032-8.7-22.044%200-8.986%203.073-16.41%209.217-22.274C66.484%206.96%2074.27%204.015%2083.67%204.015s16.99%202.727%2022.762%208.18c5.774%205.427%208.66%2012.596%208.66%2021.506zm-8.862-.068c0-6.333-2.01-11.4-6.03-15.206-4.02-3.78-9.42-5.67-16.2-5.67-6.807%200-12.53%202.13-17.165%206.383-4.583%204.254-6.874%209.573-6.874%2015.956%200%206.308%202.13%2011.527%206.393%2015.657%204.26%204.105%209.647%206.157%2016.16%206.157%206.78%200%2012.42-2.215%2016.923-6.646%204.53-4.38%206.794-9.924%206.794-16.632zM176.332%204.014l-4.47%2035.792c-1.013%207.884-2.902%2013.654-5.67%2017.31-4.444%205.69-10.618%208.536-18.522%208.536-6.334%200-11.588-1.88-15.762-5.64-4.077-3.81-6.115-8.536-6.115-14.176%200-1.2.045-2.467.135-3.798.09-1.33.226-2.742.407-4.23l4.102-33.795h8.97l-4.353%2034.668c-.133%201.038-.233%201.996-.3%202.877-.066.88-.1%201.697-.1%202.448%200%203.99%201.145%207.138%203.435%209.444%202.314%202.305%205.454%203.458%209.42%203.458%204.63%200%208.144-1.45%2010.54-4.353%202.394-2.928%204.017-7.683%204.87-14.264l4.31-34.278h9.102zM191.103%204.014h12.495c5.43%200%209.567.905%2012.415%202.715%202.342%201.463%204.178%203.525%205.51%206.187%201.33%202.742%201.995%205.63%201.995%208.663%200%204.418-1.237%208.303-3.712%2011.657-3.673%204.977-9.462%207.465-17.366%207.465h-6.746l-3.074%2024.95h-9.142l7.625-61.638zm8.422%208.743l-2.475%2019.84h5.948c3.752%200%206.633-.952%208.643-2.858%202.01-1.907%203.015-4.662%203.015-8.265%200-5.81-3.752-8.717-11.258-8.717h-3.872z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 227px;
  height: 70px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}



.icon__supercool {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%2F%3E%3Cpath%20d%3D%22M4.2%2019.5l.4.4C6%2021%207.8%2022.1%209.8%2022.1c.9%200%202.3-.4%202.5-1.5.2-1.1-1-1.2-1.8-1.4l-1.7-.3c-3.4-.6-5.9-2.6-5.3-6.5.9-5.8%206.7-9%2012-9%202.8%200%205.2.7%207.4%202.1l-3.4%206.2c-1.4-1-2.9-1.8-4.9-1.8-.8%200-2%20.3-2.1%201.3-.1.9.9%201%201.6%201.2l1.9.5c3.6.8%206%202.8%205.4%207-.9%205.8-6.7%208.7-12%208.7-3.1%200-6.5-.8-9-2.2l3.8-6.9zm27.3%205.1c-.4%202.6-3.1%204-5.5%204s-4.6-1.5-4.2-4c.4-2.6%203.1-4.1%205.5-4.1s4.6%201.5%204.2%204.1z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
 *display: inline;
  zoom: 1;
}


