<a href="https://app.flashissue.com/subscribe/579D_KQ9cI" class="island  island--teal  show-mailchimp-form  icon__honeycomb-bg--bottom-left">
  <h2>{{ mailingList.mailingListHeading }}</h2>
  <p>{{ mailingList.mailingListText | nl2br }}</p>
</a>

<form action="https://app.flashissue.com/subscribe/579D_KQ9cI" method="post"  name="mc-embedded-subscribe-form" class="mailchimp-form" target="_blank" novalidate data-parsley-validate style="display: none;">

  <h2>{{ mailingList.mailingListModalHeading }}</h2>

  <p>{{ mailingList.mailingListModalText | nl2br }}</p>

  <label for="mce-NAME" class="accessibility">Name </label>
  <input type="text" value="" name="NAME" class="text-input" id="mce-NAME" required placeholder="Your name">

  <label for="mce-EMAIL" class="accessibility">Email Address </label>
  <input type="email" value="" name="EMAIL" class="text-input email" id="mce-EMAIL" required placeholder="Your email address">

  <div style="position: absolute; left: -5000px;"><input type="text" name="b_0a9bee49978e8b106fc301526_ed31737ed2" tabindex="-1" value=""></div>

  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn  btn--orange">
</form>
