<div class="title-bar">

  {% if titleBarEntry is not defined and entry is defined %}
    {% set titleBarEntry = craft.entries.first({
      section : entry.section.handle,
      slug    : craft.request.getSegment(1)
    }) %}
  {% endif %}

  {% if titleBarEntry is defined %}<h1><a href="{{ titleBarEntry.url }}">{{ titleBarEntry.title }}</a></h1>{% endif %}

  {% include '_includes/breadcrumb' %}

  <ul class="social-links">
    <li><a href="https://twitter.com/FreeUKGen" target="_blank"><i class="icon__twitter" aria-hidden="true"></i><span class="accessibility">Twitter</span></a></li>
    <li><a href="{{ url('blog/rss') }}"><i class="icon__rss" aria-hidden="true"></i><span class="accessibility">RSS</span></a></li>
    <li><a href="https://plus.google.com/u/2/106051718460422966161" target="_blank"><i class="icon__googleplus" aria-hidden="true"></i><span class="accessibility">Google+</span></a></li>
    <li><a href="https://www.facebook.com/freeukgen" target="_blank"><i class="icon__facebook" aria-hidden="true"></i><span class="accessibility">Facebook</span></a></li>
    <li><a href="https://github.com/FreeUKGen" target="_blank"><i class="icon__github" aria-hidden="true"></i><span class="accessibility">Github</span></a></li>
  </ul>

  <form action="{{ url('search') }}" method="get" class="search" data-parsley-validate>
    <input type="search" name="q" value="" placeholder="Search" required data-parsley-required-message="Please enter a search term">
    <button type="submit">
      <i class="icon__search" aria-hidden="true"></i>
      <span class="accessibility">Search</span>
    </button>
  </form>

</div>
