<div class="title-bar">

  <div class="title-bar__inner">
    {% if titleBarEntry is not defined and entry is defined %}
      {% set titleBarEntry = craft.entries.first({
        section : entry.section.handle,
        slug    : craft.request.getSegment(1)
      }) %}
    {% endif %}

    {% if titleBarEntry is defined %}<h1><a href="{{ titleBarEntry.url }}">{{ titleBarEntry.title }}</a></h1>{% endif %}

    {% include '_includes/breadcrumb' %}

    <form action="{{ url('search') }}" method="get" class="search" data-parsley-validate>
      <input type="search" name="q" value="" placeholder="Search" required data-parsley-required-message="Please enter a search term">

      <i class="icon__search" aria-hidden="true"></i>

      <button type="submit">
        <i class="icon__search--white" aria-hidden="true"></i>
        <span class="accessibility">Search</span>
      </button>
    </form>
  </div>

  <ul class="social-links">
    <li><a href="https://twitter.com/FreeUKGen" title="Follow Us on Twitter" target="_blank">
    <i class="icon__twitter" aria-hidden="true" ></i>
    <span class="accessibility">Twitter</span></a></li>
    <li><a href="{{ url('news/rss') }}" title="copy this Url into your RSS feed for updates"><i class="icon__rss" aria-hidden="true"></i><span class="accessibility">RSS</span></a></li>
    <li><a href="https://plus.google.com/u/0/b/101103546429519430016/101103546429519430016" target="_blank"><i class="icon__googleplus" aria-hidden="true"></i><span class="accessibility">Google+</span></a></li>
    <li><a href="https://www.facebook.com/freeukgen" title="Visit Our Facebook Page" target="_blank"><i class="icon__facebook" aria-hidden="true"></i><span class="accessibility">Facebook</span></a></li>
    <li><a href="https://github.com/FreeUKGen" target="_blank"><i class="icon__github" aria-hidden="true"></i><span class="accessibility">Github</span></a></li>
  </ul>

</div>
