/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #000 url(/images/spinner.gif) center center no-repeat;
}

  .modal-inner {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: $b * 1.5;
  }

  .modal-close {
    position: absolute;
    z-index: 300;
    top: $b-half;
    right: $b-half;
    border: 0;
    background-color: transparent;
    outline: 0;
  }
  .icon__cancel-white,
  .icon__cancel-white:hover,
  .icon__cancel-white:active {
    @include sizeSvgIcon(20px);
  }


/**
 * Owls inside modals
 */
.owl-theme .owl-controls .owl-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: - ($b * 1.5);
}

.owl-dots {
  margin-top: $b-half;
}

.owl-item {
  figure {
    margin-bottom: 0;
  }
  figcaption {
    position: absolute;
    bottom: $b-double;
    left: 0;
    right: 0;

    background: rgba(0,0,0,0.7);
    padding: $b-half;
    text-align: center;
    color: #fff;
  }
}
