/*------------------------------------*\
    $NAV
\*------------------------------------*/

.sub-nav {

  background: $light;

  ul {

    // hide nested navs by default
    display: none;

    // make nested navs look nested
    li {
      padding-left: $b-half;
    }

    // reset padding from core
    ul a {
      padding-left: $b-half;
    }
  }

  // only show immediately nested navs
  li.open > ul,
  li.active > ul {
    display: block;
  }

}


/**
 * Used in the header of the blog post
 */
.category-nav {
  @extend %nav;
  @extend .breadcrumb;
  margin-bottom: $b-half;

  > li + li:before {
    @include font-size(22px);
    color: #a3a3a3;
    font-weight: lighter;
    margin-top: -1px;
    content: "|";
  }


  a {
    @include font-size(22px);
    color: #a3a3a3;
    font-weight: lighter;
    &:active,
    &:hover {
      color: #808080;
    }
  }

}
