/*------------------------------------*\
    $SITE_LAU
\*------------------------------------*/

/**
 * Site header
 */

.site__header {
  padding-bottom: 40px;
  padding-top: 40px;

  @include manual-media-query(890px) {
    padding-bottom: 60px;
    // padding-top: 60px;
  }

}

  .site__header__menu-btn {
    display: none;
  }

  .site__header__logo {
    float: left;
    margin: 0;
    position: relative;
    z-index: 3;
  }
  .icon__freeukgen {
    @include vendor(background-size, floor(485.837px / 1.15), floor(87.106px / 1.15));
    // we're keep the original height / width dimensions in here for when
    // the browser doesn't support background-size
    width: 486px;
    height: 88px;
  }


  /**
   * Most of this code is to re-position the nav inside the header
   * to counteract the weird markup we need so that the offcanvas works
   */
  .site__header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 240px;
    top: 106px;
    z-index: 3;

    @include manual-media-query(890px) {
      top: 126px;
    }

    nav {
      @include container(960px);
    }

    ul {
      float: right;
      margin: 0;
      z-index: 6;
    }

    li {
      margin-left: $base-spacing-unit * 1.5;
      float: left;
    }

    a {
      padding: $half-spacing-unit 0;
      background: none;

      &:active,
      &:hover {
        background: none;
        color: $magenta-brighter;
      }

    }

    .site__header__nav--palm-search { display: none; }

  }



/**
 * Site footer
 */
.site__footer {
  .icon__honeycomb--bottom-left {
    min-height: 300px;
    background-position: left bottom;
    padding-top: $b * 4;
  }
}
  .site__footer--has-honey {
    border-top: 0;
  }

  .site__footer__nav {

    li {
      width: auto;
      margin-right: $b-half;
    }

  }



/**
 * Only used in footer - group of 3 logos
 */
.project-links {
  text-align: center;

  li {
    @include inline-block;
    margin-left: $b;
    margin-right: $b;
  }
}
