/*------------------------------------*\
    $SITE_LAU
\*------------------------------------*/

/**
 * Site header
 */

.site__header {
  z-index: 3;

  > .container {
    padding-top: $b * 1.5;
    padding-bottom: $b * 1.25;
    position: relative;
    overflow: hidden;

    @include media-query(portable) {
      padding-bottom: $b * 3;
    }
  }

}

.sticky .site__header > .container {
  padding-bottom: $b;

  @include manual-media-query(800px) {
    padding-bottom: $b * 3;
  }
}


  .site__header__menu-btn {
    display: none;
  }

  .site__header__logo,
  .site__header__logo-small {
    float: left;
    margin: 0;
    position: relative;
    z-index: 3;
    display: block;
  }
  .site__header__logo-small {
    display: none;
  }

  .sticky {
    .site__header__logo {
      display: none;
    }
    .site__header__logo-small {
      display: block;
    }
    .icon__freeukgen {
      @include sizeSvgIcon(floor(485.837px / 1.5), floor(87.106px / 1.5));
    }
  }


  /**
   * Nav
   */
  .site__header__palm-nav { display: none; }
  .site__header__nav {
    display: block;
    position: absolute;
    right: 0;
    bottom: 31px;

    @include media-query('portable') {
      right: $b-half;
    }

    ul {
      list-style: none;
      margin: 0;
      z-index: 6;
    }

    li {
      margin-left: $b * 1.5;
      float: left;
    }

    a {
      padding: $b-half 0;
      text-transform: uppercase;
      color: $magenta;
      font-weight: bold;

      &:active,
      &:hover {
        color: $magenta-brighter;
      }

    }

    .site__header__nav--palm-search { display: none; }

  }

  .sticky .site__header__nav {
    bottom: $b * 1.3;
  }


/**
 * Site content
 */
.site__content {

}
.site__content--no-furniture {

}


/**
 * Site footer
 */
.site__footer {

  border-top: 0;

  .icon__honeycomb--bottom-left {
    min-height: 180px;
    background-position: left bottom;
  }

}

  .site__footer__nav {

    li {
      width: auto;
      margin-right: $b-half;
    }

  }



/**
 * Only used in footer - group of 3 logos
 */
.project-links {
  text-align: center;

  li {
    @include inline-block;
    margin-left: $b;
    margin-right: $b;
  }
}
