/*------------------------------------*\
    $SITE_LAU
\*------------------------------------*/

/**
 * Site header
 */

.site__header {
  z-index: 3;

  > .container {
    padding-top: $b * 1.5;
    padding-bottom: $b * 1.25;
    position: relative;
    overflow: hidden;
  }

}

.sticky .site__header > .container {
  padding-bottom: $b;
}


  .site__header__menu-btn {
    display: none;
  }

  .site__header__logo {
    float: left;
    margin: 0;
    position: relative;
    z-index: 3;
  }
  .icon__freeukgen {
    @include vendor(background-size, floor(485.837px / 1.15), floor(87.106px / 1.15));
    // we're keeping the original height / width dimensions in here
    // for when the browser doesn't support background-size
    width: 486px;
    height: 88px;
  }
  .sticky {
    .icon__freeukgen {
      @include sizeSvgIcon(floor(485.837px / 1.5), floor(87.106px / 1.5));
    }
  }


  /**
   * Nav
   */
  .site__header__palm-nav { display: none; }
  .site__header__nav {
    display: block;
    position: absolute;
    right: 0;
    bottom: $b * 0.75;

    @include media-query('portable') {
      right: $b-half;
    }

    ul {
      list-style: none;
      margin: 0;
      z-index: 6;
    }

    li {
      margin-left: $base-spacing-unit * 1.5;
      float: left;
    }

    a {
      padding: $half-spacing-unit 0;
      text-transform: uppercase;
      color: $magenta;
      font-weight: bold;

      &:active,
      &:hover {
        color: $magenta-brighter;
      }

    }

    .site__header__nav--palm-search { display: none; }

  }

  .sticky .site__header__nav {
    bottom: $b * 1.3;
  }

/**
 * Site footer
 */
.site__footer {

  border-top: 0;

  .icon__honeycomb--bottom-left {
    min-height: 180px;
    background-position: left bottom;
  }

}

  .site__footer__nav {

    li {
      width: auto;
      margin-right: $b-half;
    }

  }



/**
 * Only used in footer - group of 3 logos
 */
.project-links {
  text-align: center;

  li {
    @include inline-block;
    margin-left: $b;
    margin-right: $b;
  }
}
