@charset "UTF-8";
/*------------------------------------*\
    PALM.CSS
\*------------------------------------*/
/**
 * Here we set up some variables and include the inuit.css framework.
 *
 * After that we write all the scss for palm size devices.
 */


/**
 * Setup
 */
@import "vars";
@import "../../bower_components/inuit.css/inuit";
@import "../../bower_components/owl-carousel2/src/scss/owl.carousel";
@import "../../bower_components/owl-carousel2/src/scss/owl.animate";
@import "../../bower_components/owl-carousel2/src/scss/owl.autoheight";
@import "../../bower_components/owl-carousel2/src/scss/owl.lazyload";
@import "../../bower_components/owl-carousel2/src/scss/owl.theme.default";
@import "soup/generic/silent";
@import "soup/generic/aliases";
@import "soup/soup";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

/**
 * Header
 */
.site-header {
  padding: $b 5%;
  background: #eee;
  .btn { text-transform: uppercase; }
  .icon-soup-logo {
    width: 227px;
    height: 70px;
  }
}

/**
 * Page wrapper
 */
.page-wrapper {
  padding: $b 5%;
  position: relative;
}

/**
 * Main nav
 */
.main-nav {
  li {
    border-bottom: 3px solid #fff;
    a {
      background: $brand-color;
      padding: $b-half;
      color: #fff;
      &.current,
      &.current:hover {
        background: $brand-color-dark;
        cursor: text;
      }
      &:hover {
        background: $brand-color-dark;
        text-decoration: none;
      }
    }
  }
}



/**
 * Seperators - grey line
 */

hr {
  @extend .cf;
  display: block;
  height: 3px;
  width: 100%;
  border: none;
  background: #ddd;
}

.page-title {
  border-bottom: 3px solid #ddd;
  padding-bottom: $b-half;
}


/**
 * Make the tab box be all pretty for the examples
 */
.nav-tabs { margin-bottom: 0; }
.tab-content {
  @extend .cf;
  padding: $b-half;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  margin-bottom: $b-half;

  /**
   * Some specific tweaks to objects displayed inside the example tab box
   */
  pre { margin: 0; }

  .grey-islands {
    .island { background: #ddd; }
    .islet { background: #bbb; }
  }
  .multi-list li p { background: #ccc; }

  .btn { margin-bottom: $b-half; }

  .grid {
    margin-left: 0;
    .grid__item { padding: $b-half; }
  }
  .offcanvas__secondary--active { margin-left: 0; }

  .highlight-links {
    .current a,
    .current a:hover { background: #bbb; }
    a {
      background: #ddd;
      &:hover { background: #ccc; }
    }
  }
}


/**
 * Colour in the widths so we can see them
 */
.highlight-widths {
  .one-third { background: #ccc; }
  .two-thirds { background: #ddd; }
  .one-half { background: #bbb; }
  .one-quarter { background: #aaa; }
}


/**
 * Format the stats
 */
.stat {
  border-left: 1px solid #ccc;
  padding-left: 24px;
  &:first-child {
    border-left: none;
    padding-left: 0;
  }
}

.stat-group {
  text-align: center;
  .stat__title {
    font-size: 0.75em;
    text-transform: uppercase;
  }
  .stat__value { font-weight: bold; }
}


/**
 * Wireframing bits
 */
.wrapper {
  max-width: 960px;
  padding: 0 24px;
  margin: 0 auto;
}
.footer {
  margin-bottom:0;
}


/**
 * Close button - used on modals etc
 */
a.close {
  color: $brand-color;
  float: right;
  &:hover {
    text-decoration: none;
    color: $brand-color-dark;
  }
}
