<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8"/>

  <title>{% if title is defined %}{{ title }} | {% elseif entry is defined and entry.pageTitle is not empty %}{{ entry.pageTitle }} | {% elseif entry is defined %}{{ entry.title }} | {% endif %}{{ siteName }}</title>

  <meta name="description" content="{% if metaDescription is defined %}{{ metaDescription }}{% elseif entry is defined and entry.metaDescription is not empty %}{{ entry.metaDescription }}{% endif %}">
  <meta name="keywords" content="{% if metaKeywords is defined %}{{ metaKeywords }}{% elseif entry is defined and entry.metaKeywords is not empty %}{{ entry.metaKeywords }}{% endif %}">

  <!--[if lt IE 9]>
    <script src="/scripts/dist/html5shiv.min.js"></script>
  <![endif]-->

  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="570">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">

  <link rel="stylesheet" href="/styles/css/palm.min.css">
  <link rel="stylesheet" href="/styles/css/lap_and_up.min.css" media="(min-width:569px)">

  <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="/styles/css/lap_and_up.min.css">
  <![endif]-->

  <!--[if lte IE 7]>
    <link rel="stylesheet" href="/styles/css/ie.min.css">
  <![endif]-->

  <script type="text/javascript">
  /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
  window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
  grunticon( [ "/styles/css/icons.data.svg.css", "/styles/css/icons.data.png.css", "/styles/css/icons.fallback.css" ] );
  </script>
  <noscript><link rel="stylesheet" type="text/css" href="/styles/css/icons.fallback.css"></noscript>

  {% block head %}{% endblock %}
</head>
<body ontouchstart>
  <header class="site-header" role="banner">
    <h1>
      <a href="/">
        <div class="icon-soup-logo"></div>
        <span class="accessibility">Soup</span>
      </a>
    </h1>
    <div class="visuallyhidden--lap-and-up cf">
      <a href="#" class="btn  float--right" data-sc-offcanvas-trigger data-sc-offcanvas-primary="#main" data-sc-offcanvas-secondary="#sidebar"><i class="icon-list" aria-hidden="true"></i>&nbsp;&nbsp;Menu</a>
    </div>
  </header>

  <div class="page-wrapper  offcanvas  grid">

    <aside id="sidebar" role="complementary" class="offcanvas__secondary  grid__item  one-quarter">
      <ul class="nav  nav--stacked  main-nav" role="navigation">
        {% set pages = craft.entries.section('pages').limit(null).find() %}

        {% nav page in pages %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% ifchildren %}
              <ul>
                {% children %}
              </ul>
            {% endifchildren %}
          </li>
        {% endnav %}
      </ul>
    </aside>

    <main id="main" role="main" class="offcanvas__primary  grid__item  three-quarters">
      {% spaceless %}

        {% block main %}

          {% include '_includes/article' %}

        {% endblock %}

      {% endspaceless %}
    </main>

  </div>

  <script type="text/javascript" src="/scripts/dist/lib.min.js"></script>
  <script type="text/javascript" src="/scripts/dist/main.min.js"></script>

  <!--[if lte IE 7]>
    <script src="/scripts/dist/lte-ie7-polyfills.min.js"></script>
  <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-xxxxxxx-xx', 'auto');
    ga('send', 'pageview');
  </script>


  {% block foot %}{% endblock %}
</body>
</html>
