@if $use-offcanvas == true{
/*------------------------------------*\
    $OFF CANVAS
\*------------------------------------*/

/**
 * Off canvas content
 *
 * This makes the secondary content hidden off to the left with a button
 * for triggering the class change (see client.js) which in turn makes the
 * secondary content appear and the main content gets shunted off to the right - e.g.:
 *
 <a href="#" class="hide--lap-and-up oc-trigger" data-primary="#main" data-secondary="#sidebar">go off canvas</a>

 <div class="offcanvas  grid">
   <section id="sidebar" class="offcanvas__secondary  grid__item  one-third">
     <aside>
       <h1>Supplemental</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nulla massa. Sed ultricies posuere tincidunt. Morbi dolor est, aliquet quis egestas eu, consectetur nec neque. Etiam velit libero, congue eu accumsan sit amet, eleifend et sem. Donec ac felis sed sapien placerat venenatis. Fusce id tempus nunc. Vestibulum pellentesque vulputate tempus. Suspendisse sed consequat lectus. Nulla bibendum venenatis eros, elementum malesuada mi imperdiet eu. Fusce ornare gravida nulla, sed scelerisque sem scelerisque at.</p>
     </aside>
   </section>

   <section id="main" class="offcanvas__primary  grid__item  two-thirds">
       <h1>Main Content</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nulla massa. Sed ultricies posuere tincidunt. Morbi dolor est, aliquet quis egestas eu, consectetur nec neque. Etiam velit libero, congue eu accumsan sit amet, eleifend et sem. Donec ac felis sed sapien placerat venenatis. Fusce id tempus nunc. Vestibulum pellentesque vulputate tempus. Suspendisse sed consequat lectus. Nulla bibendum venenatis eros, elementum malesuada mi imperdiet eu. Fusce ornare gravida nulla, sed scelerisque sem scelerisque at.</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nulla massa. Sed ultricies posuere tincidunt. Morbi dolor est, aliquet quis egestas eu, consectetur nec neque. Etiam velit libero, congue eu accumsan sit amet, eleifend et sem. Donec ac felis sed sapien placerat venenatis. Fusce id tempus nunc. Vestibulum pellentesque vulputate tempus. Suspendisse sed consequat lectus. Nulla bibendum venenatis eros, elementum malesuada mi imperdiet eu. Fusce ornare gravida nulla, sed scelerisque sem scelerisque at.</p>
   </section>
 </div>
 */
@include media-query(palm) {

  /**
   * Off-canvas wrapper container
   */
  .offcanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
  }

  /**
   * Set up the primary element to be
   * showing and not the secondary element
   */
  .offcanvas__primary,
  .offcanvas__secondary {
    display: block;
    position: relative;
    @include vendor(transition, 0.25s all ease-in);
  }
  .offcanvas__primary {
    width: 100%;
    padding-left: 0;
    float: right;
    z-index: 1;
  }
  .offcanvas__secondary {
    width: 80%;
    margin-left: -100%;
    float: left;
    z-index: 2;
    padding-left: 0;
  }

  /**
   * Active state - show the secondary and only
   * a small bit of the primary off to the right
   */
  .offcanvas__primary--active {
    margin-right: -80%;
    padding-left: $b;
  }
  .offcanvas__secondary--active {
    margin-left: 0;
  }

  /**
   * Alternative, reversed layout.
   * Extends `.ocw`.
   */
  .offcanvas--rev {
    .offcanvas__primary {
      padding-right: 0;
      float: left;
    }
    .offcanvas__secondary {
      margin-left: 0;
      margin-right: -100%;
      float: right;
      padding-right: 0;
    }
    .offcanvas__primary--active {
      margin-right: 0;
      padding-left: 0;
      margin-left: -80%;
      padding-right: $b;
    }
    .offcanvas__secondary--active {
      margin-right: 0;
    }
  }
}
}//endif
