@if $use-twitter == true{
/**
 * Twitter box
 */
.twitter {
  .media { margin-bottom: $b-half; }
    .media__img { margin-right: $b-half; }
  .twitter__date {
    @include font-size(12px);
    line-height: 1;
    float: right;
    color: #888;
    margin-top: $b / 6;
    &:hover { color: #222; }
  }
  .twitter__heading {
    @include font-size(16px);
    line-height: 1;
    font-family: $brand-face;
    font-weight: bold;
    padding-top: $b / 6;
    margin: 0;
  }
    .twitter__screenname {
      @include font-size(14px);
      font-weight: normal;
      display: block;
      color: #666;
      &:hover { color: #222; }
    }
  .twitter__tweet {
    @extend .milli;
    color: #444;
    margin-bottom: $b-half;
  }
  .twitter__intents {
    @extend .nav;
    text-align: right;
    border-top: 1px solid #ddd;
    padding-top: $b-half;
    a {
      @include font-size(18px);
      line-height: 1;
      color: #888;
      margin-left: $b-quarter;
      &:hover { color: #555; }
      i {
        @include inline-block;
        vertical-align: middle;
        &.icon-reply { margin-top: 2px; }
      }
    }
  }
}
}//endif
