{% extends '_layouts/main' %}

{% set titleBarEntry = craft.entries.section('blog').first() %}

{% set title = (titleBarEntry.pageTitle is not empty ? titleBarEntry.pageTitle : titleBarEntry.title) %}

{% if day is defined and month is defined and year is defined %}

  {% set after = year ~ '-' ~ month ~ '-' ~ day %}
  {% set before = after | date_modify('+1 day') | date('Y-m-d') %}
  {% set breadcrumb = [
    {
      'url'   : url('news/' ~ year ),
      'title' : year
    },
    {
      'url'   : url('news/' ~ year ~ '/' ~ month),
      'title' : month
    },
    {
      'url'   : url('news/' ~ year ~ '/' ~ month ~ '/' ~ day),
      'title' : day
    }
  ] %}

  {% set title = after | date('d/m/Y') ~ ' - ' ~ title %}

{% elseif month is defined and year is defined %}

  {% set after = year ~ '-' ~ month %}
  {% set before = after | date_modify('+1 month') | date('Y-m') %}
  {% set breadcrumb = [
    {
      'url'   : url('news/' ~ year ),
      'title' : year
    },
    {
      'url'   : url('news/' ~ year ~ '/' ~ month),
      'title' : month
    }
  ] %}

  {% set title = after | date('m/Y') ~ ' - ' ~ title %}

{% elseif year is defined %}

  {% set after = year %}
  {% set before = year + 1 %}
  {% set breadcrumb = [
    {
      'url'   : url('news/' ~ year ),
      'title' : year
    }
  ] %}

  {% set title = after | date('Y') ~ ' - ' ~ title %}

{% endif %}


{% if after is not defined or before is not defined %}
  {% exit 404 %}
{% endif %}


{% if craft.request.getPageNum() != 1 %}
  {% set title = 'Page ' ~ craft.request.getPageNum() ~ ' - ' ~ title %}
{% endif %}


{% block main %}

  {% include '_includes/title-bar' %}

  <div class="grid">

    <div class="grid__item  two-thirds  palm-one-whole">
      {% include 'blog/_includes/list' with {
        criteria : {
          after : after,
          before : before
        }
      } %}
    </div>

    <div class="grid__item  one-third  palm-one-whole">
      {% include 'blog/_includes/sidebar' %}
    </div>

  </div>

{% endblock %}
