{% extends '_layouts/main' %}

{% set titleBarEntry = craft.entries.section('blog').first() %}

{% set category = craft.categories.group('blog').slug(category).first() %}

{% if not category %}
  {% exit 404 %}
{% endif %}

{% set breadcrumb = [
  {
    'url'   : category.url,
    'title' : category.title
  }
] %}

{% set title = category.title ~ ' - ' ~ (titleBarEntry.pageTitle is not empty ? titleBarEntry.pageTitle : titleBarEntry.title) %}

{% if craft.request.getPageNum() != 1 %}
  {% set title =  'Page ' ~ craft.request.getPageNum() ~ ' - ' ~ title %}
{% endif %}

{% block main %}

  {% include '_includes/title-bar' %}

  <div class="grid">

    <div class="grid__item  two-thirds  palm-one-whole">
      {% include 'blog/_includes/list' with {
        criteria : {
          relatedTo: {
            targetElement: category,
            field: "blogCategories"
          }
        }
      } %}
    </div>

    <div class="grid__item  one-third  palm-one-whole">
      {% include 'blog/_includes/sidebar' %}
    </div>

  </div>

{% endblock %}
