{% extends '_layouts/main' %}

{% set titleBarEntry = craft.entries.section('blog').first() %}

{% block main %}

  <div class="grid">

    <div class="grid__item  two-thirds  palm-one-whole">
      {% include 'blog/_includes/post' %}
    </div>

    <div class="grid__item  one-third  palm-one-whole">
        {% include 'blog/_includes/sidebar' %}
    </div>

  </div>

{% endblock %}
