/*------------------------------------*\
    $FORMS
\*------------------------------------*/

/**
 * This is just some default styling for the forms, with error styles
 */

.text-input {
  @include font-size(16px);
  line-height: 1.4;
  margin: 0 0 $b 0;
  padding: $b-quarter;
  width: 100%;
  display: block;
  color: $brand-color;
  background-color: #fff;
  border: 2px solid #ddd;
  @include vendor(border-radius, $b-quarter);
  @include vendor(transition, all 0.15s linear);
  &:hover,
  &:focus {
    background-color: #eee;
    outline: none;
    border-color: #ccc;
  }
}
textarea.text-input { height: auto; }
.text-input--inline {
  display: inline;
  width: auto;
}

.spoken-form .btn {
  @extend .btn--small;
  @include inline-block;
  vertical-align: top;
}

.no-label  {
  margin-top: $b;
}

.spoken-form input.placeholder,
.spoken-form textarea.placeholder { font-style: normal; }


/**
 * Standard placeholders
 *
 * These need to be on separate lines as if the browser
 * can't understand a selector it will invalidate the whole line.
 *
 * There is a .placeholder class that will get used when the browser
 * doesn't support @placeholder and js adds it.
 */
::-webkit-input-placeholder {
  color: #bdbdbd;
  @include font-size(16px);
  font-style: italic;
}
:-moz-placeholder {
  color: #bdbdbd;
  @include font-size(16px);
  font-style: italic;
}
:-ms-placeholder {
  color: #bdbdbd;
  @include font-size(16px);
  font-style: italic;
}
.placeholder {
  color: #bdbdbd;
  @include font-size(16px);
  font-style: italic;
}


/**
 * Hides any inputs that are inside so that we
 * can have pretty styling for radios / checkboxes
 */
.hide-inputs input { @extend .visuallyhidden; }


/**
 * Selects
 */
.select-dropdown {
  @include vendor(appearance, none);
  // -moz doesn't work yet, so hack in the next two lines
  text-indent: 0.01px;
  text-overflow: '';

  // Firefox >= 30 is so rubbish we'll just not have a nice select arrow
  // on any version of FF. Thanks moz.
  @-moz-document url-prefix() { background-image: none !important; }

  // firefox mobile needs this
  @include media-query(palm) { text-indent: 5px; }

  // style it
  @extend .text-input;
  line-height: 1.65;
  border: 0;
  color: #333;
  background-color: #ddd;
  background-position: right -1px;
  @include vendor(transition, box-shadow 0.15s linear);
  &:hover,
  &:focus {
    outline: 0;
    background-color: #ddd;
    @include vendor(box-shadow, inset 0px 0px 0px 2px $brand-color);
  }
  // moz moz moz
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  // ms ms ms
  &::-ms-expand {
    display: none;
  }

}

  // use in conjunction with the above class to add an icon
  .icon__select {
    // pad the same distance as the icon width, plus .text-input's default padding
    padding-right: 40px + $b-quarter;

    // take off grunticon's widths
    width: 100% !important;
    height: auto !important;
  }
  .spoken-form .icon__select { width: inherit !important; } // inherit for spoken-form etc
