{% extends "_layouts/main" %}

{% set title = 'Service Unavailable' %}

{% block main %}
  <article class="grid">
    <header class="page-header  grid__item  one-whole">
      <h1 class="title">Service Unavailable</h1>
    </header>

    <section class="grid__item  seven-twelfths  palm-one-whole  body">
      <p class="lede">Our system is currently under maintenance. Please try again later.</p>
    </section>
  </article>
{% endblock %}

{% block foot %}
  <script type="text/javascript">
    if ( typeof ga !== 'undefined' ) {
      ga('send', 'event', 'Error Pages', '503', 'URL: '+ window.location.href );
    }
  </script>
{% endblock %}
