{% extends "_layouts/main" %}

{% set title = 'Site Offline' %}

{% block main %}
  <article class="message-page">
    <header>
      <h1 class="title">Site Offline</h1>
    </header>

    <section>
      <p class="lede  flush--bottom">We’re currently doing some maintenance and should be back online shortly.</p>
      <p>Sorry for any inconvenience this may have caused you.</p>
    </section>
  </article>
{% endblock %}

{% block foot %}
  <script type="text/javascript">
    if ( typeof ga !== 'undefined' ) {
      ga('send', 'event', 'Error Pages', 'offline', 'URL: '+ window.location.href );
    }
  </script>
{% endblock %}
