{% extends "_layouts/main" %}

{% set title = 'Sitemap' %}

{% block main %}

  {% cache %}

    <article class="grid">
      <section class="grid__item  one-half  palm-one-whole">
        <ul class="sitemap-nav">
          <li><a href="{{ url('/', null, 'http') }}">Home</a></li>
          {% set pages = craft.entries.section('pages').limit(null).find() %}

          {% nav page in pages %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
              {% ifchildren %}
                <ul>
                  {% children %}
                </ul>
              {% endifchildren %}
            </li>
          {% endnav %}
        </ul>
      </section>
    </article>

  {% endcache %}

{% endblock %}


