{#
 # End the previous containers, start a new one and make it a colour.
 #}

    </article>

  </div>

</main>

<main class="icon__honeycomb--bottom-left  article__background  article__background--{{ block.colour }}">
  <div class="icon__honeycomb--top-right"></div>
  <div class="container">

    <article class="article  grid">
