{#
 # Module block type
 #}
<section class="article__module  grid__item  one-third  palm-one-whole">

  {% switch block.module %}

    {% case 'mailing-list' %}
      {% include '_includes/mailing-list' %}

    {% case 'twitter' %}
      {% include '_includes/twitter' %}

    {% case 'sub-nav' %}
      {% include '_includes/navs/sub' %}

  {% endswitch %}

</section>
