{#
 # Separator block type
 #}
{% spaceless %}
  {% if block.isItVisible %}
  <section class="article__separator  grid__item  one-whole">
    <hr>
  </section>
  {% else %}
  <div class="cf"></div>
  {% endif %}

{% endspaceless %}
