{#
 # Separator block type
 #}

{% if block.colour == 'invisible' %}
<div class="cf"></div>
{% else %}
<section class="article__separator  article__separator--{{ block.colour }}  grid__item  one-whole">
  <hr>
</section>
{% endif %}
