{#
 # Text block type
 #
 # Two thirds wide, three text size varients
 #}
<section class="article__text  grid__item  {{ block.width }}  palm-one-whole  {{ block.size }}  text--{{ block.align }} ">
  {{ block.text }}
</section>
