{#
 # Text block type
 #
 # Two thirds wide, three text size varients
 #}
<section class="article__text  grid__item  {{ block.textType }}  {{ block.width }}  palm-one-whole">
  {{ block.text }}
</section>
